.input-wrapper {
	.input-field {
		font-size: 1rem;
		padding: 10px;
		background-color: var(--white-color);
		width: 300px;
		border-radius: 8px;
		border: 3px solid var(--dark-gray);
		transition: border-color 0.3s, color 0.3s;

		&:focus {
			outline: none;
		}

		&:hover,
		&:focus-visible {
			color: var(--black-color);
			border-color: var(--black-color);
		}
	}

	.error {
		display: flex;
		gap: 4px;
		color: red;
		font-size: 12px;
		margin-bottom: 4px;
		text-align: left;
	}

	.input-field::-webkit-outer-spin-button,
	.input-field::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.input-field[type='number'] {
		-moz-appearance: textfield;
	}
}

@media (max-width: 576px) {
	.input-wrapper {
		.input-field {
			font-size: 0.9rem;
		}
	}
}

@media (max-width: 376px) {
	.input-wrapper {
		.input-field {
			width: 270px;
		}
	}
}
