.modal {
	max-width: 530px;
}

.instruction {
	font-size: 1rem;
	margin-bottom: 1rem;
}

.inputs-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;

	.gram-input {
		width: 80px;
	}

	.plus-btn {
		margin-top: 0.5rem;
		padding: 0.2rem;
		background: none;
		border: none;
		cursor: pointer;
		color: var(--dark-green);
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.info {
	margin-top: 0.5rem;
}

.results {
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
	max-height: 220px;
	overflow-y: auto;
	background: var(--white-color);
	border: 2px solid var(--dark-gray);
	border-radius: 0.5rem;
	padding: 0.5rem 0;
	list-style: none;
}

.product {
	padding: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: background-color 0.3s;

	&:hover {
		background-color: #f1f1f1;
	}
}

.added-list {
	margin-top: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-height: 200px;
	overflow-y: auto;
}

.added-item {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	align-items: center;
	background: #f9f9f9;
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: 1px solid #ccc;

	span {
		flex: 1;
		padding-right: 0.5rem;

		&:first-child {
			flex: 2;
		}
	}

	button {
		background: none;
		border: none;
		cursor: pointer;
	}
}

.add-btn {
	margin-top: 1rem;
	width: 100%;
}

.disabled {
	border: none;
	background-color: #ccc;
	color: #666;
	opacity: 0.8;
	pointer-events: none;
}

@media (max-width: 576px) {
	.results {
		max-height: 170px;
	}

	.inputs-wrapper {
		.input {
			width: 250px;
		}
	}
}

@media (max-width: 480px) {
	.inputs-wrapper {
		.input {
			width: 100%;
		}
	}

	.instruction {
		font-size: 0.9rem;
	}
	.results {
		font-size: 0.9rem;
	}
}

@media (max-width: 376px) {
	.inputs-wrapper {
		.gram-input {
			width: 65px;
		}
	}
}
