.container {
	margin: 0 auto;
	max-width: 1200px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form {
	width: 90%;
	max-width: 450px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--white-color);
	border-radius: 1rem;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.35);
	gap: 1.2rem;

	h1 {
		margin-bottom: 0.5rem;
	}
}

.input {
	width: 100%;
}

.submit-button {
	margin-top: 1.2rem;
	width: 300px;
}

.select-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 300px;

	select {
		font-size: 1rem;
		padding: 10px;
		background-color: var(--white-color);
		border-radius: 0.5rem;
		border: 2px solid var(--dark-gray);
		transition: border-color 0.3s, color 0.3s;
		cursor: pointer;

		&:focus {
			outline: none;
		}

		&:hover,
		&:focus-visible {
			color: var(--black-color);
			border-color: var(--black-color);
		}
	}

	option {
		font-size: 0.9rem;
	}
}

@media (max-width: 768px) {
	.form h1 {
		font-size: 1.8rem;
	}
}

@media (max-width: 576px) {
	.form h1 {
		font-size: 1.6rem;
	}
}

@media (max-width: 480px) {
	.form .input {
		font-size: 0.9rem;
	}
	.select-wrapper {
		width: 280px;

		select {
			font-size: 0.9rem;
			option {
				font-size: 0.7rem;
			}
		}
	}
}

@media (max-width: 376px) {
	.form {
		width: 95%;
	}
	.select-wrapper {
		width: 250px;
	}
}
