.panel {
	width: 80%;
	max-width: 800px;
	margin: 0 auto 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--white-color);
	border-radius: 1rem;
	padding: 2rem;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.date-header {
	text-align: center;
	margin-bottom: 1rem;

	.today {
		margin-bottom: 0.5rem;
		font-size: 1.3rem;
		font-weight: bold;
	}
	.date {
		font-size: 1.1rem;
	}
}

.circle-wrapper {
	position: relative;
	margin-bottom: 1.5rem;
}

.circle-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	p {
		margin: 0.4rem 0;
		font-size: 0.9rem;
	}
}

.macros {
	display: flex;
	justify-content: space-around;
	width: 100%;
	div {
		text-align: center;
		p:first-child {
			margin: 0.5rem 0;
			font-weight: bold;
		}
	}
}

.history-button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.3rem;
	margin-top: 2rem;
	border: none;
	font-size: 0.9rem;

	&:hover {
		background-color: #f0f0f0;
	}
}

@media (max-width: 768px) {
	.panel {
		width: 90%;
		padding: 1.5rem;
	}

	.circle-wrapper {
		margin-bottom: 1.2rem;
	}

	.macros {
		gap: 1rem;
	}

	.history-button {
		font-size: 0.8rem;
		margin-top: 1.5rem;
		gap: 0.25rem;
	}
}

@media (max-width: 576px) {
	.date-header {
		.today {
			font-size: 1.2rem;
		}

		.date {
			font-size: 1rem;
		}
	}

	.macros {
		gap: 0.8rem;

		div {
			p {
				font-size: 0.9rem;
			}
		}
	}
}

@media (max-width: 480px) {
	.panel {
		padding: 1rem;
	}

	.date-header {
		.today {
			font-size: 1.1rem;
		}

		.date {
			font-size: 0.9rem;
		}
	}

	.circle-wrapper {
		margin-bottom: 1rem;
	}

	.history-button {
		margin-top: 1rem;
	}
}

@media (max-width: 376px) {
	.macros {
		flex-direction: column;
		gap: 0.2rem;
		div {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.75rem;
		}
	}
	.history-button {
		width: 95%;
	}
}
