header {
	position: sticky;
	top: 0;
	z-index: 5;
	padding: 0.5rem 0.5rem 0.5rem 1.5rem;
	background-color: var(--white-color);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

	.container {
		max-width: 1200px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
	}

	.logo {
		width: 120px;
	}

	.signout-button {
		width: 120px;
		background: none;
		border: none;
		font-weight: bold;
		letter-spacing: 1px;

		&:hover {
			background-color: #f0f0f0;
		}
	}
}

@media (max-width: 768px) {
	header {
		.logo {
			width: 100px;
		}
		.signout-button {
			width: 100px;
		}
	}
}

@media (max-width: 576px) {
	header {
		.logo {
			width: 90px;
		}
		.signout-button {
			font-size: 0.8rem;
			width: 90px;
		}
	}
}
