.card {
	width: 80%;
	max-width: 800px;
	margin: 3rem auto;
	background-color: var(--white-color);
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	h2 {
		font-size: 1.3rem;
		color: var(--black-color);
		margin-bottom: 0.5rem;
	}
}

.meal-row {
	display: flex;
	width: 85%;
	align-items: center;
	padding: 0.75rem 1rem;
	border: 1px solid #dcdcdc;
	border-radius: 0.75rem;
	transition: background 0.3s;

	&:hover {
		background-color: #f5f5f5;
	}
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	background-color: #daefd8;
	border-radius: 50%;
	color: var(--dark-green);
}

.label {
	flex-grow: 1;
	margin-left: 0.75rem;
	font-size: 1.1rem;
}

.add-button {
	background: none;
	border: none;
	cursor: pointer;
	color: var(--dark-green);
	transition: transform 0.3s;

	&:hover {
		transform: scale(1.1);
	}
}

@media (max-width: 768px) {
	.card {
		width: 90%;
	}

	.meal-row {
		width: 100%;
	}

	.label {
		font-size: 1rem;
	}
}

@media (max-width: 576px) {
	.card {
		padding: 1.5rem;
	}
}

@media (max-width: 480px) {
	.card {
		h2 {
			font-size: 1.1rem;
		}
	}
	.label {
		font-size: 0.9rem;
	}
	.meal-row {
		padding: 0.5rem 0.75rem;
	}
	.add-button {
		svg {
			width: 1.2rem;
		}
	}
}
