@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--black-color: #2b2b2b;
	--green-color: #179c36;
	--dark-green: #007e02;
	--gray-color: #e1e1e1;
	--dark-gray: #959595;
	--white-color: #fbfbfb;
	--focus-color: #c00000;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: var(--gray-color);
	color: var(--black-color);
}
